html,body{
    height: 100%;
    background-image: url("images/góra 1.jpg");
    background-size: cover;
    background-position: center;
    background-color: #051f35;
    background-blend-mode: screen;
}

.rozdzielnik{
    width: 600px;
    height: 450px;
    margin: auto;
    position:absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-blend-mode:normal;
    border-style: groove;
    opacity: 1.1;
    background-color: #666;
}

.title{
    text-align: center;
    font-size: 80px;
    font-style: oblique;
    font-family: "Courier New";
    font-weight: normal;
    margin-bottom: 0px;
    color: white;
}

.enter{
    width:180px;
    height:50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border: 3px solid white;
    border-radius: 5px;
    font-size: 23px;

    transition: background-color 1000ms, color 1000ms;
}

.enter:hover{
    background-color: white;
    color: #222222;
    transition: background-color 1000ms, color 1000ms;
}

.subtitle{
    text-align: center;
    font-size: 30px;
    font-family:"Courier New", Courier, monospace;
    color: white;
}

.header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}


/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}


article {

    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */


}

*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    alignment-baseline: center;
}

.gallery_list{
    display: inline;
}


.flex-container{
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    align-content: space-between;

}

div.gallery{
   margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid #777;
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.choose{
    border-radius: 50%;
}

.list{
    padding: 20px;
    font-size: 30px;
    color: #cccccc;
    padding-right: 15px;
    background-color: #777777;
    line-height: 80%;
    margin-left:80px;
    margin-bottom: 30px;
}

.list a:link, a:visited{
    background-color: white;

    color: black;
    border: 2px darkgoldenrod;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.list a:hover, a:active{
    background-color: darkgoldenrod;
    color: white;
}





